body {
    background-color: @darkblue;
    font-family: 'Saira', sans-serif;
    color: #F37748;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;




    .nav {

        display: flex;
        justify-content: space-around;
        background-color: #FFFBF7;

        img {
            @media(max-width: 500px) {
                width: 70%;
            }
        }

        .links {
            display: flex;
            text-decoration: none;
            justify-content: space-around;

            a {
                margin-right: 60px;
                font-size: 1.5rem;
                margin-top: 7%;
                text-decoration: none;


                @media(max-width: 500px) {
                    font-size: 1rem;
                    margin-right: 30%;
                }

            }
        }
    }

    p {
        font-size: 1.4em;
        line-height: 1.4;

        @media(max-width: 800px) {
            font-size: 1em;

        }
    }


    h1 {
        font-size: 1.8rem;

        @media(max-width: 800px) {
            font-size: 1.3rem;

        }
    }

    i {
        color: @orange
    }

    hr {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .sign-up {
        display: flex;
        flex-direction: row;
        text-align: center;
        margin-bottom: 10%;
        padding-top: 20px;

        @media(max-width: 500px) {
            display: flex;
            flex-direction: column;
        }

        .sign-up-left {
            display: flex;
            flex-direction: column;
            width: 50%;

            @media(max-width: 800px) {

                margin-left: 10%;

            }

            @media(max-width: 500px) {
                align-content: center;
                width: 80%;
                height: 700px;
            }

        }

        .sign-up-right {
            display: flex;
            flex-direction: column;
            width: 50%;

            @media(max-width: 500px) {
                align-content: center;
                justify-content: center;
                text-align: center;
                width: 100%;
            }


            .signup-form {
                .terms {
                    margin-left: 20px;
                    margin-bottom: 20px;
                    margin-top: 20px;

                    @media(max-width: 500px) {
                        display: flex;
                        align-content: center;
                        justify-content: center;
                        text-align: center;
                    }
                }

                input {
                    margin-bottom: 10%;
                    margin-top: 3%;
                    height: 30px;

                    @media(max-width: 500px) {
                        align-content: center;
                        justify-content: center;
                        text-align: center;
                    }
                }

                h1 {
                    margin-bottom: 7%;

                    @media(max-width: 500px) {
                        display: flex;
                        flex-direction: column;
                        align-content: center;
                        justify-content: center;
                        text-align: center;
                    }
                }

            }
        }
    }

    .info {
        display: flex;
        flex-direction: row;
        text-align: center;
        margin-bottom: 10%;

     

        @media(max-width: 500px) {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            text-align: center;
        }

        @media(max-width: 800px) {
            margin-right: 8%;
            margin-left: 8%;

        }

        .info-left {
            display: flex;
            flex-direction: column;
            border-style: solid;
            border-width: medium;
            width: 100%;
            margin-right: 8%;
            background-color: #202B31;



            .info-left-title {
                margin-bottom: 4%;
                margin-top: 10%;
            }

            .info-left-text {
                margin-bottom: 10%;
                padding: 10%
            }


        }

        .info-mid {
            display: flex;
            flex-direction: column;
            border-style: solid;
            border-width: medium;
            width: 100%;
            background-color: #202B31;



            .info-mid-title {
                margin-bottom: 4%;
                margin-top: 10%;

            }

            .info-mid-text {
                margin-bottom: 10%;
                padding: 10%
            }
        }

        .info-right {
            display: flex;
            flex-direction: column;

            border-style: solid;
            border-width: medium;
            width: 100%;
            margin-left: 8%;
            background-color: #202B31;

            @media(max-width: 500px) {
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                text-align: center;
                margin-left: 0%;
            }



            .info-right-title {
                margin-bottom: 4%;
                margin-top: 10%;
            }

            .info-right-text {
                margin-bottom: 10%;
                padding: 10%
            }
        }
    }

    .products {
        display: flex;
        flex-direction: row;
        text-align: center;
        margin-bottom: 10%;

        @media(max-width: 800px) {
            margin-right: 8%;
            margin-left: 8%;


        }

        @media(max-width: 500px) {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            text-align: center;
        }


        .products-left {
            display: flex;
            flex-direction: column;
            border-style: solid;
            border-width: medium;
            width: 100%;
            margin-right: 8%;
            background-color: #202B31;



            .products-left-title {
                margin-bottom: 4%;
                margin-top: 10%;
            }

            .products-left-text {
                margin-bottom: 10%;
                padding: 10%
            }
        }

        .products-mid {
            display: flex;
            flex-direction: column;
            border-style: solid;
            border-width: medium;
            width: 100%;

            background-color: #202B31;


            .products-mid-title {
                margin-bottom: 4%;
                margin-top: 10%;
            }

            .products-mid-text {
                margin-bottom: 10%;
                padding: 10%
            }
        }

        .products-right {
            display: flex;
            flex-direction: column;
            border-style: solid;
            border-width: medium;
            width: 100%;
            margin-left: 8%;
            background-color: #202B31;

            @media(max-width: 500px) {
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                text-align: center;
                margin-left: 0%;
            }


            .products-right-title {
                margin-bottom: 4%;
                margin-top: 10%;
            }

            .products-right-text {
                margin-bottom: 10%;
                padding: 10%;


            }
        }
    }
}